section.chat-ui {
  @apply bg-dark px-3 sm:px-4 py-4 md:px-14 md:py-8 md:pb-14 h-full w-full  mx-auto text-center bg-center bg-cover flex items-center justify-center;
  background-image: url(https://res.cloudinary.com/dyn3sdtfm/image/upload/q_80/v1663210261/bg2_m6wgnr.webp);

  .container {
    @apply bg-[#ebebeb] rounded-[30px] md:rounded-[40px] w-full h-[90vh] mx-auto relative max-w-[1000px] bg-center bg-cover;
    background-image: url(https://res.cloudinary.com/dyn3sdtfm/image/upload/v1663409445/bg-3_ttnqmb.webp);
    box-shadow: 0px 0px 1.2px rgba(0, 0, 0, 0.017),
      0px 0px 2.8px rgba(0, 0, 0, 0.024), 0px 0px 4.8px rgba(0, 0, 0, 0.03),
      0px 0px 7.6px rgba(0, 0, 0, 0.035), 0px 0px 11.8px rgba(0, 0, 0, 0.04),
      0px 0px 18.4px rgba(0, 0, 0, 0.046), 0px 0px 30.5px rgba(0, 0, 0, 0.053),
      0px 0px 61px rgba(0, 0, 0, 0.07);
  }

  header {
    background-image: url(https://res.cloudinary.com/dyn3sdtfm/image/upload/c_scale,w_2200/v1663294019/Group_7_jjdeln.webp);
    @apply bg-cover bg-center w-full py-4 px-6 md:px-12 flex items-center justify-between rounded-t-[30px] bg-dark;

    h1 {
      @apply text-white text-[20px];
    }

    .room-id {
      @apply bg-[#D9D9D9] py-1 px-4 text-[#38404A] text-[15px] font-extrabold flex items-center justify-center gap-1 rounded cursor-pointer relative overflow-hidden;

      box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.11),
        0px 2.50666px 10.4444px rgba(0, 0, 0, 0.079074),
        0px 1.34018px 5.58408px rgba(0, 0, 0, 0.0655718),
        0px 0.751293px 3.13039px rgba(0, 0, 0, 0.055),
        0px 0.399006px 1.66253px rgba(0, 0, 0, 0.0444282),
        0px 0.166035px 0.691814px rgba(0, 0, 0, 0.030926);
    }
  }

  .delete-btn {
    @apply border border-light border-opacity-30 flex items-center justify-center w-8 h-8 md:w-9 md:h-9 rounded-full hover:bg-light hover:bg-opacity-10 duration-150 cursor-pointer;
    svg {
      @apply w-3.5 md:w-4;
    }

    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.11),
      0px 2.50666px 10.4444px rgba(0, 0, 0, 0.079074),
      0px 1.34018px 5.58408px rgba(0, 0, 0, 0.0655718),
      0px 0.751293px 3.13039px rgba(0, 0, 0, 0.055),
      0px 0.399006px 1.66253px rgba(0, 0, 0, 0.0444282),
      0px 0.166035px 0.691814px rgba(0, 0, 0, 0.030926);
  }
}

.chat-messages-wrapper {
  @apply w-full overflow-y-scroll h-[calc(90vh-65.6px)] pb-[200px] px-4 sm:px-6 md:px-12 py-10;

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
  }
}

.chat-input {
  @apply absolute bottom-0 left-0 right-0 flex items-start gap-x-4 md:gap-x-6 pb-8 px-4 sm:px-6 md:px-12 bg-gradient-to-t from-light to-transparent rounded-b-[30px] md:rounded-b-[40px];

  textarea {
    @apply resize-none rounded-[20px] md:rounded-[38px] h-32 bg-light py-4 md:py-6 w-full px-6 md:px-10 outline-none text-[15px] text-dark border-black/10 border font-medium focus:outline-[2px] focus:outline-offset-4 focus:outline-dark/70;

    box-shadow: 0px 0.4px 1.1px rgba(0, 0, 0, 0.005),
      0px 1px 2.5px rgba(0, 0, 0, 0.007), 0px 1.7px 4.4px rgba(0, 0, 0, 0.009),
      0px 2.6px 7px rgba(0, 0, 0, 0.01), 0px 4.1px 10.8px rgba(0, 0, 0, 0.011),
      0px 6.3px 16.9px rgba(0, 0, 0, 0.013),
      0px 10.5px 28px rgba(0, 0, 0, 0.015), 0px 21px 56px rgba(0, 0, 0, 0.02);

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .buttons {
    @apply flex flex-col gap-2 md:gap-4;

    button {
      @apply rounded-full px-3 py-3 bg-dark cursor-pointer hover:bg-dark/80 duration-100 flex items-center justify-center;
      box-shadow: 0px 0.2px 1.2px rgba(0, 0, 0, 0.034),
        0px 0.5px 2.8px rgba(0, 0, 0, 0.048),
        0px 0.9px 5.3px rgba(0, 0, 0, 0.06),
        0px 1.6px 9.4px rgba(0, 0, 0, 0.072),
        0px 2.9px 17.5px rgba(0, 0, 0, 0.086), 0px 7px 42px rgba(0, 0, 0, 0.12);
    }

    .upload {
      @apply py-3.5;
    }

    .upload-icon {
      svg {
        @apply w-5 h-4;
      }
    }
  }
}

.messages-wrapper {
  @apply grid gap-5 items-center content-center w-full;

  h2 {
    @apply text-dark/90 mx-auto font-medium w-10/12 mt-8;
  }
}

.message-item {
  @apply w-full min-w-[0] max-w-fit rounded-[20px] md:rounded-[24px] border-black/10 border bg-light text-[15px] sm:w-fit sm:max-w-md text-left py-3 sm:py-5 px-4 sm:px-6 md:px-8 pr-12 sm:pr-14 md:pr-14 leading-6 text-[#38404A] relative rounded-tr-md md:rounded-tr-xl;

  p {
    @apply w-full break-words;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  a {
    @apply underline underline-offset-4;
  }

  .copy-btn {
    @apply top-2 sm:top-3 w-7 h-8 sm:w-8 sm:h-9 duration-150 bg-dark border-white/20 rounded-md lg:rounded-lg flex items-center justify-center absolute right-2 sm:right-3;

    svg {
      @apply w-3 sm:w-4;
    }
  }

  box-shadow: 0px 0.4px 1.1px rgba(0, 0, 0, 0.005),
    0px 1px 2.5px rgba(0, 0, 0, 0.007), 0px 1.7px 4.4px rgba(0, 0, 0, 0.009),
    0px 2.6px 7px rgba(0, 0, 0, 0.01), 0px 4.1px 10.8px rgba(0, 0, 0, 0.011),
    0px 6.3px 16.9px rgba(0, 0, 0, 0.013), 0px 10.5px 28px rgba(0, 0, 0, 0.015),
    0px 21px 56px rgba(0, 0, 0, 0.02);
}

.message-item.right-aligned {
  @apply ml-auto bg-[#555E69] text-white border-none;

  .copy-btn {
    @apply opacity-40 hover:opacity-60;
  }

  box-shadow: 0px 0.2px 1.2px rgba(0, 0, 0, 0.034),
    0px 0.5px 2.8px rgba(0, 0, 0, 0.048), 0px 0.9px 5.3px rgba(0, 0, 0, 0.06),
    0px 1.6px 9.4px rgba(0, 0, 0, 0.072), 0px 2.9px 17.5px rgba(0, 0, 0, 0.086),
    0px 7px 42px rgba(0, 0, 0, 0.12);
}

.message-item.left-aligned {
  .copy-btn {
    @apply opacity-20 hover:opacity-30;
  }
}

.placeholder {
  @apply text-center mt-6;

  svg {
    @apply w-20 mx-auto;
  }

  .commands-table {
    @apply py-2.5 md:py-3 px-3 md:px-4 bg-opacity-[3%] mt-12 rounded mx-auto w-fit;
  }

  table {
    @apply text-left gap-6 text-sm md:text-[15px] font-medium border-collapse;

    td {
      @apply px-3 md:px-4 py-2 md:py-3 mr-1 sm:mr-2 text-dark/70 whitespace-nowrap border-dark/40 border-[1.2px] border-collapse;
    }

    code {
      @apply bg-dark/10 p-1 px-1 rounded text-xs md:text-sm text-dark/70 whitespace-nowrap;
    }
  }
}
