section.chat-ui {
  @apply mx-auto flex h-screen w-full items-center justify-center bg-dark bg-cover bg-center px-3 py-4 text-center sm:px-4 md:px-14 md:py-8 md:pb-14;
  background-image: url(https://res.cloudinary.com/dyn3sdtfm/image/upload/q_80/v1663210261/bg2_m6wgnr.webp);

  .container {
    @apply relative mx-auto h-[90vh] w-full max-w-[1000px] rounded-[30px] bg-[#ebebeb] bg-cover bg-center md:rounded-[40px];
    background-image: url(https://res.cloudinary.com/dyn3sdtfm/image/upload/v1663409445/bg-3_ttnqmb.webp);
    box-shadow:
      0px 0px 1.2px rgba(0, 0, 0, 0.017),
      0px 0px 2.8px rgba(0, 0, 0, 0.024),
      0px 0px 4.8px rgba(0, 0, 0, 0.03),
      0px 0px 7.6px rgba(0, 0, 0, 0.035),
      0px 0px 11.8px rgba(0, 0, 0, 0.04),
      0px 0px 18.4px rgba(0, 0, 0, 0.046),
      0px 0px 30.5px rgba(0, 0, 0, 0.053),
      0px 0px 61px rgba(0, 0, 0, 0.07);
  }

  header {
    background-image: url(https://res.cloudinary.com/dyn3sdtfm/image/upload/c_scale,w_2200/v1663294019/Group_7_jjdeln.webp);
    @apply flex w-full items-center justify-between gap-3 rounded-t-[30px] bg-dark bg-cover bg-center px-4 py-4 sm:px-6 md:px-12;

    h1 {
      @apply text-lg text-white md:text-xl;
    }
  }

  .delete-btn {
    @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border border-light border-opacity-30 duration-150 hover:bg-light hover:bg-opacity-10 md:h-9 md:w-9;
    svg {
      @apply w-3.5 md:w-4;
    }

    box-shadow:
      0px 6px 25px rgba(0, 0, 0, 0.11),
      0px 2.50666px 10.4444px rgba(0, 0, 0, 0.079074),
      0px 1.34018px 5.58408px rgba(0, 0, 0, 0.0655718),
      0px 0.751293px 3.13039px rgba(0, 0, 0, 0.055),
      0px 0.399006px 1.66253px rgba(0, 0, 0, 0.0444282),
      0px 0.166035px 0.691814px rgba(0, 0, 0, 0.030926);
  }
}

.btn-secondary {
  @apply relative flex cursor-pointer items-center justify-center gap-1 overflow-hidden rounded bg-[#D9D9D9] px-4 py-1 text-[15px] font-extrabold text-[#38404A];

  box-shadow:
    0px 6px 25px rgba(0, 0, 0, 0.11),
    0px 2.50666px 10.4444px rgba(0, 0, 0, 0.079074),
    0px 1.34018px 5.58408px rgba(0, 0, 0, 0.0655718),
    0px 0.751293px 3.13039px rgba(0, 0, 0, 0.055),
    0px 0.399006px 1.66253px rgba(0, 0, 0, 0.0444282),
    0px 0.166035px 0.691814px rgba(0, 0, 0, 0.030926);
}

.chat-messages-wrapper {
  @apply w-full overflow-y-scroll px-4 py-10 sm:px-6 md:px-12;

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
  }
}

.chat-input {
  textarea {
    @apply h-32 w-full resize-none rounded-[20px] border border-black/10 bg-light px-6 py-4 text-[15px] font-medium text-dark outline-none focus:outline-[2px] focus:outline-offset-4 focus:outline-dark/70 md:rounded-[38px] md:px-10 md:py-6;

    box-shadow:
      0px 0.4px 1.1px rgba(0, 0, 0, 0.005),
      0px 1px 2.5px rgba(0, 0, 0, 0.007),
      0px 1.7px 4.4px rgba(0, 0, 0, 0.009),
      0px 2.6px 7px rgba(0, 0, 0, 0.01),
      0px 4.1px 10.8px rgba(0, 0, 0, 0.011),
      0px 6.3px 16.9px rgba(0, 0, 0, 0.013),
      0px 10.5px 28px rgba(0, 0, 0, 0.015),
      0px 21px 56px rgba(0, 0, 0, 0.02);

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .buttons {
    .button {
      @apply flex cursor-pointer items-center justify-center rounded-full bg-dark px-3 py-3 duration-100 hover:bg-dark/80;
      box-shadow:
        0px 0.2px 1.2px rgba(0, 0, 0, 0.034),
        0px 0.5px 2.8px rgba(0, 0, 0, 0.048),
        0px 0.9px 5.3px rgba(0, 0, 0, 0.06),
        0px 1.6px 9.4px rgba(0, 0, 0, 0.072),
        0px 2.9px 17.5px rgba(0, 0, 0, 0.086),
        0px 7px 42px rgba(0, 0, 0, 0.12);
    }

    .upload {
      @apply py-3.5;
    }

    .upload-icon {
      svg {
        @apply h-4 w-5;
      }
    }
  }
}

.messages-wrapper {
  @apply grid w-full content-center items-center gap-5;

  h2 {
    @apply mx-auto mt-8 w-10/12 font-medium text-dark/90;
  }
}

.message-item {
  @apply relative w-full min-w-[0] max-w-fit rounded-[20px] rounded-tr-md border border-black/10 bg-light px-4 py-3 pr-12 text-left text-[15px] leading-6 text-[#38404A] sm:w-fit sm:max-w-md sm:px-6 sm:py-5 sm:pr-14 md:rounded-[24px] md:rounded-tr-xl md:px-8 md:pr-14;

  p {
    @apply w-full break-words;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  a {
    @apply underline underline-offset-4;
  }

  .copy-btn {
    @apply absolute right-2 top-2 flex h-8 w-7 items-center justify-center rounded-md border-white/20 bg-dark duration-150 sm:right-3 sm:top-3 sm:h-9 sm:w-8 lg:rounded-lg;

    svg {
      @apply w-3 sm:w-4;
    }
  }

  box-shadow:
    0px 0.4px 1.1px rgba(0, 0, 0, 0.005),
    0px 1px 2.5px rgba(0, 0, 0, 0.007),
    0px 1.7px 4.4px rgba(0, 0, 0, 0.009),
    0px 2.6px 7px rgba(0, 0, 0, 0.01),
    0px 4.1px 10.8px rgba(0, 0, 0, 0.011),
    0px 6.3px 16.9px rgba(0, 0, 0, 0.013),
    0px 10.5px 28px rgba(0, 0, 0, 0.015),
    0px 21px 56px rgba(0, 0, 0, 0.02);
}

.message-item.right-aligned {
  @apply ml-auto border-none bg-[#555E69] text-white;

  .copy-btn {
    @apply opacity-40 hover:opacity-60;
  }

  box-shadow:
    0px 0.2px 1.2px rgba(0, 0, 0, 0.034),
    0px 0.5px 2.8px rgba(0, 0, 0, 0.048),
    0px 0.9px 5.3px rgba(0, 0, 0, 0.06),
    0px 1.6px 9.4px rgba(0, 0, 0, 0.072),
    0px 2.9px 17.5px rgba(0, 0, 0, 0.086),
    0px 7px 42px rgba(0, 0, 0, 0.12);
}

.message-item.left-aligned {
  .copy-btn {
    @apply opacity-20 hover:opacity-30;
  }
}

.placeholder {
  @apply mt-6 text-center;

  svg {
    @apply mx-auto w-20;
  }

  .commands-table {
    @apply mx-auto mt-12 w-fit rounded bg-opacity-[3%] px-3 py-2.5 md:px-4 md:py-3;
  }

  table {
    @apply border-collapse gap-6 text-left text-sm font-medium md:text-[15px];

    td {
      @apply mr-1 border-collapse whitespace-nowrap border-[1.2px] border-dark/40 px-3 py-2 text-dark/70 sm:mr-2 md:px-4 md:py-3;
    }

    code {
      @apply whitespace-nowrap rounded bg-dark/10 p-1 px-1 text-xs text-dark/70 md:text-sm;
    }
  }
}
