@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "RegulatorNovaBold";
  font-style: normal;
  src:
    local("RegulatorNovaBold"),
    local("RegulatorNovaBold"),
    url("/fonts/RegulatorNovaBold.woff2") format("woff2");
}

.sans {
  font-family:
    "RegulatorNovaBold",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

* {
  @apply leading-[1.6];
}

html,
body {
  @apply h-full w-full overflow-x-hidden antialiased;
  background-color: #f2f2f2;
}

body {
  font-family: "JetBrains Mono", monospace;
}

.transition-join-page {
  @apply fixed left-0 right-0 top-0 z-40 h-0 w-full bg-light;
}

button {
  @apply flex-shrink-0 outline-offset-4 focus:outline-2 focus:outline-gray-800;
}

@import "homepage";
@import "join";
@import "chat";
@import "button";

@tailwind utilities;
